repos:
  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: spellcheck
        name: Spellcheck Linter
        entry: python scripts/spellcheck.py
        language: system
        types: [text]
        pass_filenames: false
        always_run: true

      - id: run-tests
        name: Run Unit Tests
        entry: python -m unittest discover -v tests
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
